<% str = "\n" %>
<% def html_safe_newline(str) h(str).gsub(/\n|\r|\r\n/, "<br>").html_safe end %>
<div class='container px-5 px-sm-0'>
 <div class='row'>
  <div class='col-md-3'>
<%= render 'users/info', user: @user, book: @book_new %>
</div>
<div class='col-md-8 offset-md-1' >


<h2>Book detail</h2>
    <table class='table'>

        <tr>
          <%= link_to @book.user.name, user_path(@book.user) %></td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%=@book.body %></td>
          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book) %></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' } %></td>
            <td>
              <% if @book.favorited?(current_user) %>
                <%= link_to book_favorites_path(@book), method: :delete do %>
                <span style="color:red;">❤︎</span>
                <% end %>
              <% else %>
                <%= link_to book_favorites_path(@book), method: :post do %>
                <span>❤︎</span>
                <% end %>
              <% end %><%= @book.favorites.count %>
            </td>
            <td>コメント数：<%= @book.book_comments.count %></td>
          </tr>
  </table>
            <%= html_safe_newline(str) %>
                <% @book.book_comments.each do |book_comment| %>
            <div>
            <%= image_tag book_comment.user.get_profile_image(100,100) %>
            <%= book_comment.user.name %>
            <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
            </div>
            <% end %>
        <% end %>
        </tr>
         <div>
        <%= form_with model: [@book, @book_comment] do |f| %>

          <div class="form-group">
          <%= f.text_area :comment, class: "form-control"%></div>

          <div class="form-group"><%= f.submit '送信', class: "btn btn-success"%>
          </div>
        <% end %>
      </div>
      </div>
      </div>
     </div>